body{
	background: url("images.jpg");
	margin: 0 auto;
	padding: 0;
	font-family: serif;
	background-size: cover;	
	min-width: 700px;
	height: 700px;
	min-height: 600px;
}

.box{
	position: absolute;

	top: 25%;
	left: 50%;
	transform: translate(-40%, -60%);
	width: 70%;
	min-width: 700px;
	min-height: 170px;
	padding: 20px;
	/*background: rgba(0,0,0,.3);*/
	/*box-sizing: border-box;*/
	/*border-radius: 15px;*/
	padding: 0;
	/*background: red;*/
}

.bangdiem{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -60%);
	width: 70%;
	min-width: 700px;
	min-height: 170px;
	padding: 20px;
	margin: auto 0; 
}

.box form{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	/*border: 1px solid #fff; */
	width: 100%;
	min-height: 70px;
	min-width: 510px;
}

.inputbox{
	margin: 1%;
	flex-basis: 23%;
}

form > span:nth-child(4){
	margin: 3%;
	flex-basis: 20%;
}


.Ky > select{
	font-size: 19px;
	border: none;
	border-bottom: 1px solid black;
	color: rgba(0,0,0,0.7);
}

.box .inputbox > input{
	font-size: 15px;
	outline: none;
	background: transparent;
	border: none;
	border-bottom: 1px solid black;
	color: black;
	margin-left: 2%;
	size: 20px;
}

#_delete{
	position: absolute;
	left: 49%;
	top: 45%;
}

.button_search{
	margin-left: 50px;
	padding-left: 15%;
	padding-right: 15%;
	font-size:  17px;
}

.br1{
	clear: both;
}

table, th, td{
	position: relative;
	border: 1px solid black;
	border-collapse: collapse;
	box-sizing: content-box;
}

h3{
	padding: 3% 2% 3% 2%;
	margin: 0 0;
	border-bottom: 1px solid red;
}

.tt1{
	margin-top: 20px;
	width: 77%;
	color: red;
}

.div2{
	margin-top: 7%;
}

#point_tbl{
	left: 17%;
}
#tbl2{
	left: 43%;
}
/*header*/
/*body{*/
	/*margin: 0 auto;*/
	/*min-width: 750px;*/
	/*height: 560px;*/
/*}*/

nav{
	background-color: #333;
	overflow: hidden;
	margin: 0 0;
}

nav a{
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
}

nav div{
	float: right;
}

nav a:hover {
	background-color: #ddd;
	color: black;
}

.active{
	background-color: #4CAF50;
	color: white;
}

.ten
{
	font-size: 30px;
	font-weight: bold;
	position: relative;
	left: 35%;
}